.adminNav {
    display: flex;
    height: 70px;
    background-color: #E9E9E9;
}

.logoutt {
    padding-left: 60em;
    padding-top: 1.8em;
    /* font-size: large; */
}

.titleee h2 {
    color: #5d8fc9 !important;
    padding-left: 60px;
    padding-top: 14px;
    font-weight: bold;
}

.signb {
    font-weight: bold;
    color: white;
    background-color: #5d8fc9;
    border: none;
    height: 30px;
    width:90px;
    font-size: large;
    border-radius: 30px;
    cursor: pointer;
}

.signb:hover {
    color: #5d8fc9;
    background-color: white;
    border: 2px solid #5d8fc9;
}
.logoutt:focus{
    outline:none;
}
#root > div.adminNav > div.logoutt > button{
    outline:none;
}

.ss{
    padding-top: 20px;
    padding-left: 20px;
}

.dd{
    padding-left: 20px;
}
